/* .fade-in-out {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.fade-in-out.fade-in {
    opacity: 1;
}

.fade-in-out.fade-out {
    opacity: 0;
} */

.App {
    color: white;
    display: inline-flexbox;
    margin: auto;
    background-color: rgb(69, 97, 69);
    padding: 50px;
    border-radius: 30px;
    width: 400px;
    min-width: 240px;
    height: 100%;
    margin-top: 180px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
}

.App > .heading {
    font-size: 15px;
}