.fade-in-out {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.fade-in-out.fade-in {
    opacity: 1;
}

.fade-in-out.fade-out {
    opacity: 0;
}

.App {
    color: white;
    display: inline-flexbox;
    margin: auto;
    background-color: rgb(69, 97, 69);
    padding: 50px;
    border-radius: 30px;
    width: 400px;
    min-width: 240px;
    height: 100%;
    margin-top: 180px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
}

.App > .heading {
    font-size: 15px;
}

.play > button {
    padding: 30px;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    transition: all 200ms ease-out;
    background-color: rgba(255, 255, 255, 1);
    outline: none;
    border-radius: 40px;
    border: none;
}

.play > button:hover {
    transform: scale(1.1);
    border-radius: 30px;
}

.playlist {
    background-color: rgba(0, 0, 0, 0.7);
    margin-top: 20px;
    margin-bottom: -40px;
    margin-left: -40px;
    margin-right: -40px;
    padding-top: 10px;
    padding-bottom: 20px;
    border-radius: 30px;
    text-align: center;
    font-size: 10px;
    font-style: italic;
}

.playlist > h1 {
    padding: 10px;
    text-align: center;
}

.playlist > button {
    text-align: left;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    outline: none;
    border:2px solid rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 1px;
}

.playlist > button.selected {
    background-color: rgba(0, 0, 0, 0.1);
}